apiVersion: apps/v1
kind: Deployment
metadata:
  name: alertsystem
  namespace: homework
spec:
  replicas: 1
  selector:
    matchLabels:
      app: alertsystem
  template:
    metadata:
      labels:
        app: alertsystem
    spec:
      containers:
      - name: alertsystem
        image: alertsystem:local
        imagePullPolicy: IfNotPresent
        env:
        - name: KAFKA_BROKER_LIST
          value: kafka-0.kafka-hs.homework.svc.cluster.local:9092
        - name: TOPIC_INPUT_NAME
          value: to-alert-system
        - name: TOPIC_OUTPUT_NAME
          value: to-notifier
        - name: CONSUMER_GROUP_ID
          value: processor-group
