apiVersion: apps/v1
kind: Deployment
metadata:
  name: alertnotifiersystem
  namespace: homework
spec:
  replicas: 1
  selector:
    matchLabels:
      app: alertnotifiersystem
  template:
    metadata:
      labels:
        app: alertnotifiersystem
    spec:
      containers:
      - name: alertnotifiersystem
        image: alertnotifiersystem:local
        imagePullPolicy: IfNotPresent
        env:
        - name: KAFKA_BROKER_LIST
          value: kafka-0.kafka-hs.homework.svc.cluster.local:9092
        - name: TOPIC_INPUT_NAME
          value: to-notifier
        - name: CONSUMER_GROUP_ID
          value: final-consumer-group
        - name: SMTP_SERVER
          valueFrom:
            secretKeyRef:
              name: smtp-secret
              key: SMTP_SERVER
        - name: SMTP_PORT
          valueFrom:
            secretKeyRef:
              name: smtp-secret
              key: SMTP_PORT
        - name: SENDER_EMAIL
          valueFrom:
            secretKeyRef:
              name: smtp-secret
              key: SENDER_EMAIL
        - name: SENDER_PASSWORD
          valueFrom:
            secretKeyRef:
              name: smtp-secret
              key: SENDER_PASSWORD
