apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-db
  namespace: homework
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user-db
  template:
    metadata:
      labels:
        app: user-db
    spec:
      containers:
      - name: postgres
        image: postgres:15-alpine
        env:
        - name: POSTGRES_USER
          value: "mario"
        - name: POSTGRES_PASSWORD
          value: "guerrera"
        - name: POSTGRES_DB
          value: "user_db"
        ports:
        - containerPort: 5432
        readinessProbe:
          exec:
            command: ["sh","-c","pg_isready -U mario -d user_db"]
          initialDelaySeconds: 5
          periodSeconds: 5
        volumeMounts:
        - name: init-sql
          mountPath: /docker-entrypoint-initdb.d/init.sql
          subPath: init.sql
        - name: user-db-data
          mountPath: /var/lib/postgresql/data
      volumes:
      - name: init-sql
        configMap:
          name: user-db-init
      - name: user-db-data
        emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: user-db
  namespace: homework
spec:
  type: ClusterIP
  selector:
    app: user-db
  ports:
  - name: pg
    port: 5432
    targetPort: 5432
