apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: homework
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s

    scrape_configs:
      - job_name: 'microservices'
        static_configs:
          - targets: ['usermanager:8000', 'datacollector:8000']
---
apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: homework
spec:
  selector:
    app: prometheus
  ports:
    - name: http
      port: 9090
      targetPort: 9090
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus
  namespace: homework
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
  template:
    metadata:
      labels:
        app: prometheus
    spec:
      containers:
        - name: prometheus
          image: prom/prometheus:v2.45.0
          args:
            - --config.file=/etc/prometheus/prometheus.yml
            - --storage.tsdb.path=/prometheus
            - --web.external-url=https://apigate.com/prometheus/
          ports:
            - containerPort: 9090
          volumeMounts:
            - name: prom-config
              mountPath: /etc/prometheus/prometheus.yml
              subPath: prometheus.yml
            - name: prom-data
              mountPath: /prometheus
      volumes:
        - name: prom-config
          configMap:
            name: prometheus-config
            items:
              - key: prometheus.yml
                path: prometheus.yml
        - name: prom-data
          emptyDir: {}
